/* ---- reset ---- */
body {
  margin: 0;
  font: normal 100% 游ゴシック, Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 65px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 300px;
  height: 50px;
  margin-top: 10px;
  padding: 0 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  font-size: 14px;
  line-height: 65px;
  padding: 0 20px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgb(142, 219, 255);
}

.top-image {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  padding-top: 60px;
  margin: 0 auto;
}
.slick-slide {
  text-align: center;
  color: #419be0;
  background: white;
}

.main-menu {
  max-width: 1200px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.areas {
  display: flex;
  justify-content: left;
}

.area {
  height: 500px;
  width: 280px;
  margin: 5px;
  background-color: #dbdbdb;
}

.area:hover {
  background-color: rgb(142, 219, 255);
}

.area-icon {
  position: relative;
  padding: 20px;
}

.area-icon p {
  font-size: 20px;
  font-weight: 700;
  color: #3a3e42;
  margin-top: 40px;
  margin-bottom: 0px;
}

.text-contents {
  margin-top: 0;
  width: 80%;
  display: inline-block;
  font-size: 15px;
  color: #575c63;
}

footer img {
  width: 30%;
}

footer p {
  color: #535353;
  font-size: 16px;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(221, 207, 189);
}

.top-wrapper {
  width: 100%;
  position: fixed;
  z-index: 5;
}
.top-wrapper h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 60px;
  color: white;
  opacity: 0.9;
}

.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

#first-wrapper {
  justify-content: center;
}

#btn1,
#btn2 {
  margin: 20px;
  width: 350px;
  height: 200px;
  border-radius: 30px;
  background-color: rgb(252, 161, 109);
  opacity: 1;
  font-size: 30px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}

#btn1:hover,
#btn2:hover,
#btn3-1:hover,
#btn3-2:hover,
#btn3-3:hover,
#btn3-4:hover,
#btn3-5:hover,
#btn3-6:hover,
#btn3-7:hover,
#btn3-8:hover,
#btn3-9:hover,
#btn3-10:hover,
#btn3-11:hover,
#btn4-1:hover,
#btn4-2:hover,
#btn4-3:hover,
#btn4-4:hover,
#btn4-5:hover,
#btn5-1:hover,
#btn5-2:hover,
#btn5-3:hover,
#btn5-4:hover,
#btn5-5:hover,
#btn6-1:hover,
#btn6-2:hover,
#btn6-3:hover,
#btn6-4:hover,
#btn6-5:hover {
  background-color: rgb(142, 219, 255);
}

#job-wrapper {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

#btn3-1,
#btn3-2,
#btn3-3,
#btn3-4,
#btn3-5,
#btn3-6,
#btn3-7,
#btn3-8,
#btn3-9,
#btn3-10,
#btn3-11 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(252, 161, 109);
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}

#skill-wrapper {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

#btn4-1,
#btn4-2,
#btn4-3,
#btn4-4,
#btn4-5 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(252, 161, 109);
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}

#btn5-1,
#btn5-2,
#btn5-3,
#btn5-4,
#btn5-5 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(252, 161, 109);
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}

#btn6-1,
#btn6-2,
#btn6-3,
#btn6-4,
#btn6-5 {
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(252, 161, 109);
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: all 0.5s;
}


#it-course {
  display: none;
  font-size: 40px;
  font-weight: 800;
  background-image: url(../img/kore1.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color:rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;

}

#iot-course {
  display: none;
  font-size: 40px;
  font-weight: 800;
  background-image: url(../img/kore2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color:rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;

}

#auto-course {
  display: none;
  font-size: 40px;
  font-weight: 800;
  background-image: url(../img/kore3.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color:rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;
}

#restart {
  display: none;
  justify-content: center;
  align-content: flex-end;
}

#resbtn {
  align-items: flex-end;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(65, 136, 59);
  opacity: 1;
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: all 0.5s;
}

#resbtn:hover {
  background-color: rgb(255, 15, 15);
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
