* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family:  游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .container h2 {
    font-size: 40px;
  }
  
  .top-wrapper {
    padding: 300px 0 180px 0;
    background-color: #90CAF9;
    background-size: cover;
    color: black;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 50px;
    letter-spacing: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 40px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #0D47A1;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 150px;
    height: 50px;
    margin-top: 10px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 20px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255,255,255,0.3);
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .profile-wrapper {
    padding-bottom: 150px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }

  .profile-left {
    float: left;
    width: 50%;
  }

  .profile-right {
    float: right;
    width: 50%;
    text-align: left;
  }

  .btn-wrapper {
    text-align: center;
  }
  
  .btn-wrapper p {
    margin-bottom: 20px;
  }
  
  .github {
    background-color: gray;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .like-wrapper img {
    opacity: 0.8;
  }

  .now-wrapper img {
    opacity: 0.8;
  }

  .mirai-wrapper img {
    opacity: 0.8;
  }

  img:hover {
    opacity: 1;
  }

  .fa {
    margin-right: 5px;
  }

  .like-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #daf0ff;
    text-align: center;
  }

  .now-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }

  .mirai-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #daf0ff;
    text-align: center;
  }

  .goal-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #daf0ff;
    text-align: center;
  }
  
  .heading {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: bold;
  }
  
  .area {
    float: left;
    width: 25%;
  }
  
  .area-icon {
    position: relative;
  }
  
  .area-icon p {
    position: absolute;
    top: 90%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #575c63;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 25px;
    font-size: 15px;
    color: #575c63;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .message-wrapper .heading {
    margin-bottom: 100px;
  }

  .message {
    padding: 15px 40px;
    background-color: #5d89ca;
    cursor: pointer;
    box-shadow: 0px 7px #1a4079;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer {
    background-color: #0D47A1;
  }

  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .clear {
    clear: left;
  }
  